[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-computed-field = {editable = true, path = "."}
dj-database-url = "*"
pytest-django = "*"
pytest-cov = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
